html {background-color: #85CA92}


h1 {border-style: double;
    padding: 10px;
    background-color: #334035;
    text-align: center;
    text-decoration: underline;
    font-family: Comic Sans MS;
  }

p { }
